@charset "UTF-8";



/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* 전체 레이아웃 */

body{
    background-color: #faf9f8;
}
#warp {
    
}

#header {
    padding: 0 32px 0;
    font-size: 13px;
}

#nav{}




/* 중심영역 */
.container{
    width: 1008px;
    margin: 0 auto;
    position: relative;
}





/* 헤더영역 */
.header {
    margin-top: 16px;
    position: relative;
}

.header .left_header {
    position: absolute;

}

.header .left_header li {
    float: left;
    margin-right: 16px;
}

.header .left_header li a {
    line-height: 67px;
}

.header .left_header li.app_down {
    position: relative;
    display: inline-block;
    margin-top: 22px;
}

.header .left_header li.app_down>a {
    height: 24px;
    width: 24px;
    background: url(../img/dots.svg) no-repeat center;
    right: 0;
    top: 0;
}

.header .left_header li.app_down a span {}

.header .left_header li.app_down ul {
    display: none;
    margin-top: 22px;
    margin-left: -11px;

}

.header .left_header li.app_down ul li {
    float: none;
}

.header .left_header li.app_down ul li a {
height: 16px;
line-height: 16px;
    background-color: #fff;
    display: block;
    padding: 8px 16px;
}


.header .header_mid_logo {
    text-align: center;
}

.header .header_mid_logo a {}

.header .header_mid_logo a img {
    width: 60px;
    padding-top: 24px;
}


.header .right_header {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
}

.header .right_header li {
    margin-right: 12px;
    float: left;
    line-height: 67px;
}

.header .right_header li a {
    

    display: inline-block;
}

.header .right_header li a span{
    display: inline-block;
}


.header .right_header li a img {
    height: 24px;
    margin-right: 8px;
    margin-top: 1px;
    vertical-align: middle;
   
}

/* nav */

/* .any{
    text-align: center;
    margin: 0 auto;

} */

#nav{
    font-size: 1rem;
    text-align: center;
    margin: 50px auto 0; 

}
.nav_top{
    /* width: 100%; */
    display: inline-block;

}
.nav_top li{
    float: left;
    padding-right: 16px;

}

.nav_top li:last-child{
    padding-right: 0;
}

.nav_top li a{}

.nav_top li ul li{
    float: none;
}
