@charset "UTF-8";



/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* 전체 레이아웃 */

#warp {}

#header {
    padding: 0 32px 0;
    font-size: 13px;
}






/* 헤더영역 */
.header {
    margin-top: 16px;
    position: relative;
}

.header .left_header {
    position: absolute;

}

.header .left_header li {
    float: left;
    margin-right: 16px;
}

.header .left_header li a {
    line-height: 67px;
}

.header .left_header li.app_down {}

.header .left_header li.app_down a {}

.header .left_header li.app_down a span {}

.header .left_header li.app_down a ul {}

.header .left_header li.app_down ul li {
    float: none;
}

.header .left_header li.app_down ul li a {}


.header .header_mid_logo {
    text-align: center;
}

.header .header_mid_logo a {}

.header .header_mid_logo a img {
    width: 60px;
    padding-top: 24px;
}


.header .right_header {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
}

.header .right_header li {
    margin-right: 12px;
    float: left;
    line-height: 67px;
}

.header .right_header li a {
    

    display: inline-block;
}

.header .right_header li a span{
    display: inline-block;
}


.header .right_header li a img {
    height: 24px;
    margin-right: 8px;
    margin-top: 1px;
    vertical-align: middle;
   
}